.caption{
    text-align: center;
    color: white;
    margin: 30px 30px 30px 30px
}

.side{
    text-align: center;
    color: white;
    margin: 10px 10px 10px 10px
}

.star {
    text-align: center;
    color: white;
    margin: 5px auto;
}


.world {
    display: flex;
    width: 400px;
    height: 400px;
}

.land{
    position: relative;
    margin: auto;
    background-color: #fff;
    outline: 1px solid #b2b2b2;
    outline-offset: -1px;
    background-image: repeating-linear-gradient(to bottom,transparent,transparent 124px,#b2b2b2 124px,#b2b2b2 125px),
    repeating-linear-gradient(to right,transparent,transparent 124px,#b2b2b2 124px,#b2b2b2 125px);
    background-position: 0 1px,1px 0;
}

.land {
    display: grid;
    grid-template-columns: 125px 125px 125px  ;
    grid-template-rows: 125px 125px 125px  ;
    background-color: antiquewhite;
    border: black;
}

.elementWater{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: mediumblue;
    background-size: 50px 50px;
}

.elementEarth2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: coral;

}
.elementEarth5 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
   background-color: coral;
}

.elementEarth8 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: coral;
}

.elementTree3 {

    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:   lightgreen;
    background-size: contain;
}


.elementTree4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:   lightgreen;
    background-size: contain;
}

.elementFire {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: lightpink;
    background-size: contain;
}

.elementMetal6 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: #b2b2b2;
    background-size: contain;
}

.elementMetal7 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: #b2b2b2;
    background-size: contain;
}
