.caption{
    text-align: left;
    color: white;
    margin: 10px 10px 10px 10px
}

.side{
    text-align: left;
    color: white;
    margin: 5px 5px auto;
}

.star {
    text-align: center;
    color: white;
    margin: 5px auto;
}


.world {
    /*display: flex;*/

    width: 375px;
    height: 375px;
    margin-left: 30px;
}


.land{
    position: relative;
    margin: auto;
    background-color: #fff;
    outline: 1px solid #b2b2b2;
    outline-offset: -1px;

    background-image: repeating-linear-gradient(to bottom,transparent,transparent 124px,#b2b2b2 124px,#b2b2b2 125px),
    repeating-linear-gradient(to right,transparent,transparent 124px,#b2b2b2 124px,#b2b2b2 125px);
    background-position: 0 1px,1px 0;
}

.land {
    display: grid;
    grid-template-columns: 125px 125px 125px  ;
    grid-template-rows: 125px 125px 125px  ;

    background-color: antiquewhite;
    border: black;
}


.elementWater{
    grid-row-start:  var(--Water-row-start);
    grid-row-end:  var(--Water-row-end);
    grid-column-start:  var(--Water-column-start);
    grid-column-end: var(--Water-column-end);
    background-color: mediumblue;
/*    background-size: 50px 50px;*/
}

.elementEarth2 {

    grid-row-start: var(--Earth2-row-start);
    grid-row-end: var(--Earth2-row-end);
    grid-column-start: var(--Earth2-column-start);
    grid-column-end: var(--Earth2-column-end);
    background-color: coral;
    /*background-image: repeating-linear-gradient(-45deg,transparent,transparent 10px,rgba(255,133,27,.3) 10px,rgba(255,133,27,.3) 20px);*/

}
.elementEarth5 {
    grid-row-start: var(--Earth5-row-start);
    grid-row-end: var(--Earth5-row-end);
    grid-column-start: var(--Earth5-column-start);
    grid-column-end: var(--Earth5-column-end);
    background-color: coral;
    /*background-image: repeating-linear-gradient(-45deg,transparent,transparent 10px,rgba(255,133,27,.3) 10px,rgba(255,133,27,.3) 20px);*/

}
.elementEarth8 {
    grid-row-start: var(--Earth8-row-start);
    grid-row-end: var(--Earth8-row-end);
    grid-column-start: var(--Earth8-column-start);
    grid-column-end: var(--Earth8-column-end);
    background-color: coral;
    /*background-image: repeating-linear-gradient(-45deg,transparent,transparent 10px,rgba(255,133,27,.3) 10px,rgba(255,133,27,.3) 20px);*/

}

.elementTree3 {

    grid-row-start: var(--Tree3-row-start);
    grid-row-end: var(--Tree3-row-end);
    grid-column-start: var(--Tree3-column-start);
    grid-column-end: var(--Tree3-column-end);

    /*background-image: url("../assets/img/grass.svg");*/
    background-color:   lightgreen;
    background-size: contain;
}


.elementTree4 {

    grid-row-start: var(--Tree4-row-start);
    grid-row-end: var(--Tree4-row-end);
    grid-column-start: var(--Tree4-column-start);
    grid-column-end: var(--Tree4-column-end);

    /*background-image: url("../assets/img/grass.svg");*/
    background-color:   lightgreen;
    background-size: contain;
}

.elementFire {

    grid-row-start: var(--Fire-row-start);
    grid-row-end: var(--Fire-row-end);
    grid-column-start: var(--Fire-column-start);
    grid-column-end: var(--Fire-column-end);
    /*background-image: url("../assets/img/rock.svg");*/
    background-color: lightpink;
    background-size: contain;
}

.elementMetal6 {

    grid-row-start: var(--Metal6-row-start);
    grid-row-end: var(--Metal6-row-end);
    grid-column-start: var(--Metal6-column-start);
    grid-column-end: var(--Metal6-column-end);
    /*background-image: url("../assets/img/rock.svg");*/
    background-color: #b2b2b2;
    background-size: contain;
}

.elementMetal7 {

    grid-row-start: var(--Metal7-row-start);
    grid-row-end: var(--Metal7-row-end);
    grid-column-start: var(--Metal7-column-start);
    grid-column-end: var(--Metal7-column-end);
    /*background-image: url("../assets/img/rock.svg");*/
    background-color: #b2b2b2;
    background-size: contain;
}
